<!DOCTYPE html PUBLIC
	  "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
   <head>
       <title><%= @body_title || "SDAW TV is on his way..." %></title>
       <%= stylesheet_link_tag 'main' %>
       <%= javascript_include_tag :defaults %>
      <%= javascript_include_tag 'prototype' %>
   </head>
   <body<%= @body_extras %>>
     <center>
       <a href="/home"><%= image_tag "sdaw_big.png" %></a>
       <br/><br/>
       </center>
     <div id="search_tool">
       <% form_tag(:controller=>"search",
       :action => "index",
       :method => "post") do %>
       <%= text_field_tag :q ,@params, :size=>"15" %>
       <%= submit_tag("Research") %>
       <% end %>
     </div>
     <br/><br/>
     <hr/>
     <div class="research">
       <!--Resultat de la recherche-->
       Il y a
       <% if @series %>
	     <% l = @epi.length %>
	  <% else %>
             <% l = @answer.length %>
	  <% end %>
       <b> <%= l %></b>
       <% if l <= 1 %>
          r&eacute;sultat
       <% else %>
          r&eacute;sultats
       <% end %>
       pour <b><%= @params %></b>
     </div>
     <% if l != 0 %>
        <% l = l - 1 %>
        <% if @series %>
	   <!-- Affichage par episodes -->
	   <% @epi = @epi.sort_by {|res| res[res.length-1]} %>
	   <% for i in 0..l do %>
	      <div>
	         <%= @answer[0][1] %> -
		 <%= @epi[i][1] %> -
		 <%= @epi[i][3] %>x<% if @epi[i][4] < 10 %>0<%= @epi[i][4] %>
				   <% else %>
				      <%= @epi[i][4] %>
				   <% end %><br/>
		 <%= @epi[i][2] %><br/>
		 <% @epi[i][5].split.each do |tag| %>
		    <a href="/search?method=post&q=<%= tag %>">[<%= tag %>]</a>
		 <% end %><br/>
		 <%= @answer[0][5] %> length
	      </div>
	      <br/>
	   <% end %>==>
	   <%= @test %> <==
	   <!-- Recherche semblables -->
	   <% @answer = @answer.sort_by {|res| res[res.length - 1]} %>
	   <% l = @answer.length.- 1 %>
	   <% if l > 0 %>
              Recherche Similaire : (a tester)<br/>
              <% for i in 0..l do %>
	         <a href="/search?method=post&q=<%= @similar_research + @answer[i][7]%>">[<%= @answer[i][1] %>]</a>
	      <% end %>
           <% end %>
	<% else %>
	   <!-- Affichage par series -->
           <% @answer = @answer.sort_by {|res| res[res.length - 1]} %>
           <% for i in 0..l do %>
              <div>
	         <%= @answer[i][1] %> - <%= @answer[i][6] %>
	         <% if @answer[i][2] %>
	            [Film]
	         <% else %>
	            [S&eacute;rie]
	         <% end %><br/>
	         <%= @answer[i][3] %><br/>
	         <% @answer[i][7].split.each do |tag| %>
		    <a href="/search?method=post&q=<%= tag %>">[<%= tag %>]</a>
		 <% end %><br/>
	         <%= @answer[i][4] %> Seasons - <%= @answer[i][5] %> length
              </div>
	      <br/>
	   <% end %>
	<% end %>
     <% else%>
       We haven't find any Series or Episode for
           <b> <%= @params %> </b>.<br/><br/>
       Try again, with <br/>
       <ul>
          <li>another spelling</li>
          <li>another words</li>
          <li>few words</li>
       </ul>
     <% end %>
   </body>
</html>
