<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	              "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
   <head>
       <title><%= @body_title || "SDAW TV is on his way..." %></title>
       <%= stylesheet_link_tag 'main' %>
       <%= javascript_include_tag :defaults %>
       <%= javascript_include_tag 'prototype' %>
   </head>
   <body<%= @body_extras %>>
     <center>
       <a href="/home"><%= image_tag "sdaw_big.png" %></a>
       <br/><br/>
       </center>
     <!-- Search Tool -->
     <div id="search">
       <% form_tag(:controller=>"search",
       :action => "index",
       :method => "post") do %>
       <%= text_field_tag :q , @params, :size => "15" %>
       <%= submit_tag("Research") %>
       <% end %>
     </div>
     <br/><br/>
     <hr/>
     <div class="research">
       <!--Resultat de la recherche-->
       Il y a
       <% if @series %>
         <% l = @epi.length %>
       <% else %>
         <% l = @answer.length %>
       <% end %>
       <b><%= l %></b>
       r&eacute;sultat<% if l > 1 %>s<% end %>
       pour <b><%= @params %></b>
     </div>
     <div>
       <!-- Gestion affichage de la page -->
       <% if (@p <= l / 10) %>
	 <% start = @p*10 %>
       <% else %>
         <% start = (l/10)*10 %>
       <% end %>
       <% if (start + 9 < l) %>
	  <% e = start + 9 %>
       <% else %>
         <% e = l-1 %>
       <% end %>


       <% if l != 0 %>
	 <% if @series %>
	   <!-- Affichage par episodes -->
	   <% @epi = @epi.sort_by {|res| res[res.length-1]} %>
	     <% for i in start..e do %>
	       <div>
		 <%= @epi[i][7] %> -
		 <%= @epi[i][1] %> -
		 <% if @epi[i][4] < 10 %>
		   <% t = "0" + @epi[i][4].to_s%>
		 <% else %>
		   <% t = @epi[i][4].to_s %>
		 <% end %>
		 <%= @epi[i][3] %>x<%= t %><br/>
		 <!-- A tester -->
	         <% pl = false%>
	         <% @pla.each do |lt|%>
	           <% if (lt[0].to_i == @answer[i][7]) &&
		         (lt[1].to_i == @answer[i][3]) &&
		         (lt[2].to_i == @answer[i][4])%>
		     <% pl = true %>
		     <% date = lt[3] %>
		   <% end %>
	         <% end %>
	         <% if pl %>
	           <span class="now">
		     <% now = Time.now %>
		     <% if date.year == now.year%>
		       <% if date.month == now.month %>
		         <% if date.day == now.day %>
		           programmed for <%= date.hour %>:<%= date.min %>
		         <% else %>
			   <% if date.day > now.day %>
		             Programmed for
		             <%= ["monday",
			          "tuesday",
			          "wednesday",
			          "thursday",
			          "friday",
			          "saturday",
			          "sunday"][date.wday]%>
			     <% if date.day > now.day + 6 %>
                               <%= date.day %>
                             <% end %>
		  	     at <%= date.hour %>:<%= date.min %>
			     <br/>
			   <% end %>
		         <% end %>
		       <% else %>
		         <% if date.motn > now.month %>
		           programmed for |mois|
		           <%= ["january",
			        "february",
			        "march",
			        "april",
			        "may",
			        "june",
			        "july",
			        "august",
			        "september",
			        "october",
			        "november",
			        "secember"][date.month - 1] %>
			   <br/>
		         <% end %>
		       <% end %>
		     <% else %>
		       programmed for <%= date.year %>
		       <br/>
		     <% end %>
		   </span>
	         <% end %>
		 <!-- Fin a tester -->
		 <% if @epi[i][2] != "" %>
		   <%= @epi[i][2] %><br/>
		 <% else %>
		   No description<br/>
		 <% end %>
		 <% if @epi[i][5] != "" %>
		   <% @epi[i][5].split.each do |tag| %>
		     <a href="/search?method=post&q=<%= tag %>">[<%= tag %>]
		     </a>
		   <% end %><br/>
		 <% else %>
		   [No tags]<br/>
		 <% end %>
		 <span class="small">
		   <% if (@epi[i][8] / 3600 != 0) %>
		     <%= @epi[i][8] / 3600 %> hours
		   <% end %>
		   <%= (@epi[i][8] / 60) % 60 %> minutes
		   <%=  @epi[i][8] % 60 %> seconds
		 </span>
	       </div><br/>
	     <% end %>
	     <!-- Recherche semblables -->
	     <% @answer = @answer.sort_by {|res| res[res.length - 1]} %>
	     <% l = @answer.length.- 1 %>
	     <% if l > 0 %>
	       Recherche associ&eacute;e &agrave; <b><%= @params %></b><br/>
	       <% for i in 1..l do %>
	         <% if @answer[i][2] %>
		   <a href="/search?method=post&q=<%= @answer[i][7] %>">
		 <% else %>
		   <a href="/search?method=post&q=<%= @similar_research +
			    @answer[i][7] %>">
		 <% end %>[<%= @answer[i][1] %>]</a>
	       <% end %>
	     <% end %>
	   <% else %>
	   <!-- Affichage par series -->
	   <% date = Time.now %>
	   <% @answer = @answer.sort_by {|res| res[res.length - 1]} %>
	   <% for i in start..e do %>
	   <!--et_serie(line.id)-->
	     <div>
	       <%= @answer[i][1] %> - <%= @answer[i][6] %>
	       [<% if @answer[i][2] %>Film<% else %>S&eacute;rie<% end %>]<br/>

	       <!-- Affichage planning -->
	       <% pl = false%>
	       <% e = 0 %>
	       <% s = 0 %>
	       <% @pla.each do |lt|%>
	         <% if lt[0].to_i == @answer[i][0] %>
		  <% if pl %>
		    <% if lt[3] < date %>
		      <% e = lt[2].to_i %>
		      <% s = lt[1].to_i %>
		      <% date = lt[3] %>
		    <% end %>
		  <% else %>
		    <% pl = true %>
		    <% e = lt[2].to_i %>
		    <% s = lt[1].to_i %>
		    <% date = lt[3] %>
		  <% end %>
		 <% end %>
	       <% end %>
	       <% if pl %>
	         <span class="now">
	           <% if (e != 0) && (s != 0)%>
		     Episode <%= s %>x<%= e %>
		   <% end %>
		   <% now = Time.now %>
		   <% if date.year == now.year%>
		     <% if date.month == now.month %>
		       <% if date.day == now.day %>
		         programmed for <%= date.hour %>:<%= date.min %>
		       <% else %>
		         <% if date.day > now.day %>
		           Programmed for
		           <%= ["monday",
			        "tuesday",
			        "wednesday",
			        "thursday",
			        "friday",
			        "saturday",
			        "sunday"][date.wday]%>
			   <% if date.day > now.day + 6 %>
                             <%= date.day %>
                           <% end %>
			   at <%= date.hour %>:<%= date.min %>
			   <br/>
		         <% end %>
		       <% end %>
		     <% else %>
		       <% if date.month > mow.month %>
		         programmed for |mois|
		         <%= ["january",
			      "february",
			      "march",
			      "april",
			      "may",
			      "june",
			      "july",
			      "august",
			      "september",
			      "october",
			      "november",
			      "secember"][date.month - 1] %>
			 <br/>
		       <% end %>
		     <% end %>
		   <% else %>
		     programmed for <%= date.year %>
		     <br/>
		   <% end %>
		 </span>
	       <% end %>

	       <% if @answer[i][3] != "" %>
	         <%= @answer[i][3] %><br/>
	       <% else %>
	         No description<br/>
	       <% end %>
	       <% if @answer[i][7] != "" %>
	         <% @answer[i][7].split.each do |tag| %>
		 <a href="/search?method=post&q=<%= tag %>">[<%= tag %>]
		 </a>
	       <% end %><br/>
	     <% else %>
	       [No tags]<br/>
	     <% end %>
	     <span class="small">
	       <% if !@answer[i][2] %>
	         <%= @answer[i][4]%>
	         Season<% if @answer[i][4] >= 2 %>s<% end %> -
               <% end %>
	       <% if (@answer[i][5] / 3600 != 0) %>
	         <%= @answer[i][5] / 3600 %> hours
	       <% end %>
	       <%= (@answer[i][5] / 60) % 60%> minutes
	       <%= @answer[i][5] % 60 %> seconds
	     </span>
	   </div><br/>
	 <% end %>
       <% end %>
       <!-- Pages -->
       <center>
	 <%l = l / 10 + 1 %>
	 <
	   <% for i in 1..@p%>
	     <a href="/search?method=post&q=<%= @params %>&p=<%= i-1 %>">
	       <%= i %>
	     </a>
	   <% end %>
	   <%= @p + 1 %>
	   <% for i in @p+2..l %>
	     <a href="/search?method=post&q=<%= @params %>&p=<%= i-1 %>">
	       <%= i %>
	     </a>
	   <% end %>
	 >
	 </center>
	 <hr/>
     <% else%>
       We haven't find any Series or Episode for <b><%= @params %> </b>.
       <br/><br/>
       Try again, with <br/>
       <ul>
	 <li>another spelling</li>
	 <li>another words</li>
	 <li>few words</li>
       </ul>
     <% end %>
    </div>
  </body>
</html>
