<h1>Editing video</h1>

<% form_for(@video) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.hidden_field :safe_name %>
  </p>
  <p>
    <%= f.label :tags %><br />
    <%= f.text_area :tags %>
  </p>
  <p>
    <%= f.label :nb_seasons %><br />
    <%= f.text_field :nb_seasons %>
  </p>
  <p>
    <%= f.label :average_episode_duration %><br />
    <%= f.text_field :average_episode_duration %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.label :genre %><br />
    <%= f.text_field :genre %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @video %> |
<%= link_to 'Back', videos_path %>