<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title><%= @body_title || "SDAW-TV" %></title>
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'home' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body<%= @body_extras %>>
    <div id="content">
      <div id="left_col"><div>
        <div id="search_tool" class="etagere">
          <br/><br/>
          <h2>Research :</h2>
          <% form_tag(:controller=>"search", :action => "index", :method => "post") do %>
          <%= text_field_tag :q , :research, :size=>"15" %>
          <%= submit_tag("Search") %>
          <% end %>
        </div>
        <div class="etagere">
          <span id="chat">
            <br/><br/>
          <%= image_tag "bulles.png" %><br/>
            <h2>View the
          <%= link_to_function("chat") do |page|
          page.hide "chat"
          page.visual_effect(:appear, "chat_menu")
          page.visual_effect(:appear, "chat_replacement")
          end
          %>
            </h2></span>
          <script type="text/javascript">
          function printChat () {
          new Ajax.Request('/chats/index', {
          onSuccess: function(response) {
          var res = response.responseText;
          $("lol").innerHTML = res;
          }
          });
          }

          </script>
          <span id="chat_menu">
            <%= image_tag 'cross.png' %>
          <%= link_to_function("Close chat") do |page|
          page.hide "chat_replacement"
          page.hide "chat_menu"
          page.visual_effect(:appear, "chat")
          end
          %>&nbsp;&nbsp;
            <%= image_tag 'arrow_refresh.png' %>
          <%= link_to_function("Refresh") do |page|
          page.replace_html "chat_replacement", "<div id=\"lol\" style=\"overflow:auto; height:556px;width:250px;\"></div>
          <script type=\"text/javascript\">

          printChat();
          </script>"
          end %>
          </span>
          <span id="chat_replacement">
          <div id="lol">
            <%= image_tag 'error.png' %>
            Error : Getting the chat</div>
          <script type="text/javascript">

          printChat();
          </script>

          </span>
          <%= update_page_tag do |page|
          page.hide "chat_replacement"
          page.hide "chat_menu"
          end
          %>
        </div>
          <div class="etagere">
            	<div id="select_program_icon">
						<%= link_to_function (image_tag "program.png") do |page|
							page.visual_effect(:appear, "select_day")
							page.visual_effect(:appear, "select_reset")
							page.hide "select_program_icon"
						end %>
					</div>
					<div id="selection">
					</div>
					<div id="select_day">
							<label>Select a day:</label>
							<br />
							<%= select ("profile", "day", @day_list) %>
					</div>
					<div id="select_period">
						<label>Select a period:</label>
						<br />
						<%= select ("profile", "period", @period_list) %>
					</div>
					<div id="select_moment">
						<label>Select a moment:</label><br/>
						<%= select ("profile", "moment", @moment_list) %>
					</div>
					<div id="select_reset">
						<%= link_to_function ("Reset") do |page|
							page.hide "select_period"
							page.hide "select_moment"
							page.hide "selection"
							page.replace_html "selection", ""
							page.replace_html "program", ""
							page.visual_effect(:appear, "select_day")
							session['day'] = ""
							session['period'] = ""
							session['moment'] = ""
						end %>
					</div>
					<%= observe_field 'profile_day',
									:url => {:action => 'update_selection_day'},
									:frequency => 2,
									:with => "'selected_day=' + escape(value)"
					%>
					<%= observe_field 'profile_period',
									:url => {:action => 'update_selection_period'},
									:frequency => 2,
									:with => "'selected_period=' + escape(value)"
					%>
					<%= observe_field 'profile_moment',
									:url => {:action => 'update_selection_moment'},
									:frequency => 2,
									:with => "'selected_moment=' + escape(value)"
					%>
					<%= update_page_tag do |page|
						page.hide "select_day"
						page.hide "selection"
						page.hide "select_moment"
						page.hide "select_period"
						page.hide "select_reset"
					end %>
				<div id="program">
				</div>
          </div>
        <%= image_tag 'ad_square.jpg', :class => "ad_square" %>
      </div></div>
      <div id="right_col">
        <div id="logo">
          <h1><img src="images/logo.png" alt="SdaW-tv" /></h1>
        </div>
        <div id="news">
          <h2>Breaking news</h2>
          <p><%= Post.find(:last).title %>
          <%=  link_to "(...)", :controller => "posts", :action => "index" %></p>
        </div>
        <div id="screen">
          <object id="player" data="player.swf" type="application/x-shockwave-flash"
                  width="640" height="360">
            <param name="movie" value="player.swf" />
            <param name="wmode" value="opaque" />
            <param name="bgcolor" value="#000000" />
            <param name="allowFullscreen" value="true" />
            <param name="allowScriptAccess" value="always" />
            <param name="quality" value="autohigh" />
            <param name="scale" value="noscale" />
            <p>Macromedia Flash Player 8 is required in order to use this site</p>
          </object>
        </div>
        <div id="progress_bar">
          <div id="progress"></div>
        </div>
        <div id="player_toolbar">
          <div id="button">
            <%= image_tag 'play.png', :id => 'play' %>
            <%= image_tag 'pause.png', :id => 'pause' %>
          </div>

          <div id="now">
            OFF
          </div>

          <div id="time">
            <span id="progress_time">00:00</span> |
            <span id="total_time">00:00</span>
            <%= image_tag 'lightbulb.png', :id => 'light' %>
          </div>
        </div>
        
        <div id="ad_banner">
          <%= image_tag 'ad_horizontal.jpg', :class => "ad_horizontal" %>
        </div>

      </div>
    </div>

    <%= javascript_include_tag 'player'  %>

    <div id="rideau1" class="rideau"></div>
    <div id="rideau2" class="rideau"></div>
    <div id="rideau3" class="rideau"></div>
    <div id="rideau4" class="rideau"></div>
  </body>
</html>
