<p>
  <b>Name:</b>
  <%=h @episode.name %>
</p>

<p>
  <b>Episode number:</b>
  <%=h @episode.episode_number %>
</p>

<p>
  <b>Season:</b>
  <%=h @episode.season %>
</p>

<p>
  <b>Serie:</b>
  <%=h @episode.serie %>
</p>

<p>
  <b>Tags:</b>
  <%=h @episode.tags %>
</p>

<p>
  <b>Description:</b>
  <%=h @episode.description %>
</p>


<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>