<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
   <head>
       <title><%= @body_title || "SDAW TV is on his way..." %></title>
 		<%= stylesheet_link_tag 'main' %>
 		<%= javascript_include_tag :defaults %>
                <%= javascript_include_tag 'prototype' %>
                <%= javascript_include_tag 'player' %>
		 
   </head>
   <body<%= @body_extras %>>
		<div id="header">
			<h1 id="title">Sit Down And Watch !</h1>
		</div>
		<div id="content">
			<div id="upper_right">
				<div id="search_tool">
					<% form_tag(:controller=>"search", :action => "index", :method => "post") do %>
					<%= text_field_tag :q ,:research, :size=>"15" %>
					<%= submit_tag("Search") %>
					<% end %>
				</div>
			</div>
			<div id="upper_left">
				<div id="breaking_news">
					<p>
						<span id="breaking_news_title">Breaking news :</span>
						<span id="breaking_news_text">SDAW-TV <span class="italic">in development</span> !</span>
						<a href="javascript:open_window('news.html');">(...)</a>
					</p>
				</div>
				<div id="past_news">
					<p>
						<span id="past_news_text">past news <a href="javascript:open_window('news.html');">here</a></span>
						<%= image_tag "exclamation_mark.png" %>
					</p>
				</div>
			</div>
			<div id="right">
				<div id="right_up">
                                  <object id="player" data="player.swf" type="application/x-shockwave-flash"
                                          width="480" height="360">
                                    <param name="movie" value="player.swf" />
                                    <param name="wmode" value="transparent" />

                                    <param name="allowFullscreen" value="true" />
                                    <param name="allowScriptAccess" value="always" />
                                    <p>Macromedia Flash Player 8 is required in order to use this site</p>
                                  </object><br/>

                                  <input id="play" type="submit" value="play" />
                                  <input id="pause" type="submit" value="pause" />
                                  <input id="fs" type="submit" value="fs" />
                                  <input id="next" type="submit" value="next" />
				</div>
				<div id="right_bot">
					<%= image_tag "pub2.png" %>
				</div>
			</div>
			<div id="left">
				<div id="left_up">
					
					<%= image_tag "right_arrow.png" %>
					View the
					<%= link_to_function("chat") do |page|
			 			page.visual_effect(:fade, "left_up")
			 			end
					%>
					<%= image_tag "chat.png" %>
				</div>
				<div id="left_mid">
					<%= image_tag "pub1.png" %>
				</div>
				<div id="left_bot">
					<%= image_tag "tv_program.png" %>
				</div>
				<div id="left_bot2">
					<%= image_tag "past_week.png" %>
				</div>
			</div>		
		</div>
		<div id="footer">
			<h1 id="footer">Footer</h1>
		</div>
		 
   </body>
</html>
